bosy{
    font-size: 12px;
}
@media only screen and(min-width:601px) and (max-width: 1024px){
    body{
    font-size: 22px;
    background-color: aquamarine;
    }
}

@media only screen and(min-width:600px) {
    body{
    
    background-color: blueviolet;
    }
}

